{
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 160,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
